$menu-bg-color: #555;
$sectionHeader-bg-color: rgb(119, 119, 119);
$sectionHeader-bg-color-selected: rgb(19, 146, 176);
$sectionHeader-txt-color: #fff;

$menu-height: 75px;

$fixedLeftNav-width: 250px;

$inputHeight: 38px;
